html, body 
{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a 
{
  color: inherit;
  text-decoration: none;
}

* 
{
  box-sizing: border-box;
}

:root {
    --background: #212121;
    --calendar: #2A2A2A;

    --black: #000000;
    --gray: #333333;
    --white: #FFFFFF;
}