.container {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: var(--background);
}

.main {
    width: 90vw;
    height: 700px;

    display: flex;
    justify-content: space-between;

    border-radius: 15px;

    background-color: var(--calendar);
}

.calendario {
    flex: 1;
}

.calendarioCabecalho {
    margin: 0 16px;
}

.calendarioDias {
    width: 100%;
    height: 600px;
}

.calendarioTopo {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.setas {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 25px;

    background-color: var(--white);
}

.mes {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

.ano {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: var(--white);
}

.data {
    width: 200px;
    height: 220px;

    margin-left: 16px;

    display: flex;
    align-items: flex-end;

    line-height: 120px;

    font-family: "Roboto";
    font-size: 160px;
    color: var(--white);
}

.semana {
    font-family: "Roboto";
    font-size: 32px;
    color: var(--white);
}

.tarefas {
    display: flex;
    flex-direction: column;

    background-color: var(--black);

    border-radius: 0 15px 15px 0;

    flex: 1;
}

.tarefasDia {
    height: 160px;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
}

.tarefasMenu {
    height: 160px;

    margin-right: 16px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.tarefasCabecalho {
    width: 100%;
    height: 160px;

    display: flex;
}

.tarefasLista {
    width: 100%;
    height: 540px;

    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.menuTexto {
    height: 180px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    color: var(--white);
    margin-right: 16px;
}

.menuIcone {
    height: 180px;
    font-size: 120px;
    font-weight: 700;
    color: var(--white);
}

.listItem {
    width: 100%;

    margin: 16px 0;
    border-bottom: 1px solid var(--gray);

    display: flex;
    justify-content: space-between;
}

.hora, .lixo {
    width: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
}

.infos {
    width: calc(100% - 160px);

    display: flex;
    flex-direction: column;

    padding: 0 16px;
}

.infos h2 {
    margin: 0;
    padding: 0;

    font-family: "Roboto";
    font-weight: 500;
    color: var(--white);
}

.infos span {
    font-family: "Roboto";
    font-weight: 500;
    color: var(--gray);
}

.infos p {
    margin: 16px 0;

    font-family: "Roboto";
    font-weight: 300;
    color: var(--white);
}